/**
 * 00. Global
 * 01. Header
 * 02. Footer
 * 03. Modal
 */

// 00. Global

.courier-notices {
	.courier-notice {
		@include courier-note-layout;
	}

	.courier-notice-title {
		margin:0;
	}

	$courier_list: (
		('primary', $notice-default-primary, $black, $icon-primary, '', ''),
		('success', $notice-default-success, $black, $icon-success, '', ''),
		('alert', $notice-default-alert, $black, $icon-alert, '', ''),
		('warning', $notice-default-warning, $black, $icon-warning, '', ''),
		('feedback', $notice-default-info, $black, $icon-feedback, '', ''),
		('info', $notice-default-feedback, $black, $icon-info, '', '')
	);

	@each $courier in $courier_list {
		.courier_type-#{nth($courier, 1)} {
			@include notice( nth($courier, 2), nth( $courier, 3), nth( $courier, 4), nth( $courier, 5) );

			+ .courier_type-#{ nth($courier,1) } {
				border-top: 2px solid rgba(0,0,0,.05);
				margin-top: -2px;
			}
		}
	}
}

// 01. Header

// 02. Footer
.courier-location-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
}

// 03. Modal

.courier-modal-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.55);
	z-index: 9999;
	top: 0;
	left: 0;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;

	a.close {
		position: absolute;
		top: 1em;
		right: 1em;
		height: 2em;
		width: 2em;
		line-height: 2em;
		text-align: center;
		background: rgba( $medium-gray, .75);
		border: 1px solid rgba( $white, .6 );
		color: $white;
		font-size: 1.5rem;
		z-index: 5;
	}

	.modal {
		position: relative;
		text-align: center;
		background: $white;
		min-height: 5em;
		max-height: 80vh;
		overflow-y: scroll;
		width: 80vw;
		max-width: 50em;
	}

	.courier-content {
		padding: 1em;
	}
}
