@use '../shared/notices';
@use '../config/variables';

/**
 * 00. Global
 * 01. Header
 * 02. Footer
 * 03. Modal
 */

// 00. Global

.courier-notices {
	.courier-notice-title {
		margin:0;
	}
}

// 01. Header

// 02. Footer
.courier-location-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
}

// 03. Modal

.courier-modal-overlay {

	&.hide {
		display:none;
	}

	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.55);
	z-index: 9999;
	top: 0;
	left: 0;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;

	a.close {
		position: absolute;
		top: 1em;
		right: 1em;
		height: 2em;
		width: 2em;
		line-height: 2em;
		text-align: center;
		background: rgba( variables.$medium-gray, .75);
		border: 1px solid rgba( variables.$white, .6 );
		color: variables.$white;
		font-size: 1.5rem;
		z-index: 5;
	}

	.modal {
		position: relative;
		text-align: center;
		background: variables.$white;
		min-height: 5em;
		max-height: 80vh;
		overflow-y: scroll;
		width: 80vw;
		max-width: 50em;
	}

	.courier-content {
		padding: 1em;
	}
}
