@charset "UTF-8";
@font-face {
  font-family: "courier-admin";
  src: url("fonts/courier-admin.eot?qlkzon");
  src: url("fonts/courier-admin.eot?qlkzon#iefix") format("embedded-opentype"), url("fonts/courier-admin.ttf?qlkzon") format("truetype"), url("fonts/courier-admin.woff?qlkzon") format("woff"), url("fonts/courier-admin.svg?qlkzon#courier-admin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

.icon-pro,
.icon-courier-logo {
  font-family: "courier-admin" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pro:before {
  content: ""; }

.icon-courier-logo:before {
  content: ""; }

.menu-icon-courier_notice .wp-menu-image:before {
  content: "";
  font-family: "courier-admin" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
