@charset "UTF-8";
/**
 *
 * 01. Dimensions
 * 02. Colors
 * 03. Animations
 * 04. Breakpoints
 *
 **/
/* Brand Colors */
/* Notice Colors */
@font-face {
  font-family: "courier";
  src: url("../fonts/courier.eot?j1xoo0");
  src: url("../fonts/courier.eot?j1xoo0#iefix") format("embedded-opentype"), url("../fonts/courier.woff2?j1xoo0") format("woff2"), url("../fonts/courier.ttf?j1xoo0") format("truetype"), url("../fonts/courier.woff?j1xoo0") format("woff"), url("../fonts/courier.svg?j1xoo0#courier") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

body:not(.wp-admin) .courier-notices [class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "courier" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body.wp-admin table.courier_notice_page_courier [class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "courier" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.courier-notices .icon-success:before {
  content: ""; }

.courier-notices .icon-alert:before {
  content: ""; }

.courier-notices .icon-info:before {
  content: ""; }

.courier-notices .icon-warning:before {
  content: ""; }

.courier-notices .icon-primary:before {
  content: ""; }

.courier-notices .icon-feedback:before {
  content: ""; }

.courier-notices .icon-welcome:before {
  content: ""; }

.courier-notices .icon-courier-logo:before {
  content: ""; }

.courier-notices .icon-linchpin-logo-fill:before {
  content: ""; }

.courier-notices .icon-github-logo:before {
  content: ""; }

.courier-notices .icon-twitter:before {
  content: ""; }

.courier-notices .icon-fb:before {
  content: ""; }

.courier-notices .icon-instagram:before {
  content: ""; }

.courier-notices .icon-close:before {
  content: ""; }

.courier-notices .icon-plus:before {
  content: ""; }

.courier-notices .icon-minus:before {
  content: ""; }

/**
 * 01. Clearfix
 * 02. Dashicons
 * 03. Notice
 */
/* @mixin clearfix
 *
 * Standard clearfix, for parents of floated elements.
 * * */
@font-face {
  font-family: "courier-admin";
  src: url("../fonts/courier-admin.eot?qlkzon");
  src: url("../fonts/courier-admin.eot?qlkzon#iefix") format("embedded-opentype"), url("../fonts/courier-admin.ttf?qlkzon") format("truetype"), url("../fonts/courier-admin.woff?qlkzon") format("woff"), url("../fonts/courier-admin.svg?qlkzon#courier-admin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

.icon-pro,
.icon-courier-logo {
  font-family: "courier-admin" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pro:before {
  content: ""; }

.icon-courier-logo:before {
  content: ""; }

.menu-icon-courier_notice .wp-menu-image:before {
  content: "";
  font-family: "courier-admin" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * 01. Courier Columns
 * 02. XY Grid
 */
.courier-columns-1 {
  width: 8.33333%; }

.courier-columns-2 {
  width: 16.66667%; }

.courier-columns-3 {
  width: 25%; }

.courier-columns-4 {
  width: 33.33333%; }

.courier-columns-5 {
  width: 41.66667%; }

.courier-columns-6 {
  width: 50%; }

.courier-columns-7 {
  width: 58.33333%; }

.courier-columns-8 {
  width: 66.66667%; }

.courier-columns-9 {
  width: 75%; }

.courier-columns-10 {
  width: 83.33333%; }

.courier-columns-11 {
  width: 91.66667%; }

.courier-columns-12 {
  width: 100%; }

.courier-columns-1 .courier-offset-1 {
  padding-left: 100%; }
  .courier-columns-1 .courier-offset-1.block-content:before {
    right: 0%; }

.courier-columns-2 .courier-offset-1 {
  padding-left: 50%; }
  .courier-columns-2 .courier-offset-1.block-content:before {
    right: 50%; }

.courier-columns-2 .courier-offset-2 {
  padding-left: 100%; }
  .courier-columns-2 .courier-offset-2.block-content:before {
    right: 0%; }

.courier-columns-3 .courier-offset-1 {
  padding-left: 33.33333%; }
  .courier-columns-3 .courier-offset-1.block-content:before {
    right: 66.66667%; }

.courier-columns-3 .courier-offset-2 {
  padding-left: 66.66667%; }
  .courier-columns-3 .courier-offset-2.block-content:before {
    right: 33.33333%; }

.courier-columns-3 .courier-offset-3 {
  padding-left: 100%; }
  .courier-columns-3 .courier-offset-3.block-content:before {
    right: 0%; }

.courier-columns-4 .courier-offset-1 {
  padding-left: 25%; }
  .courier-columns-4 .courier-offset-1.block-content:before {
    right: 75%; }

.courier-columns-4 .courier-offset-2 {
  padding-left: 50%; }
  .courier-columns-4 .courier-offset-2.block-content:before {
    right: 50%; }

.courier-columns-4 .courier-offset-3 {
  padding-left: 75%; }
  .courier-columns-4 .courier-offset-3.block-content:before {
    right: 25%; }

.courier-columns-4 .courier-offset-4 {
  padding-left: 100%; }
  .courier-columns-4 .courier-offset-4.block-content:before {
    right: 0%; }

.courier-columns-5 .courier-offset-1 {
  padding-left: 20%; }
  .courier-columns-5 .courier-offset-1.block-content:before {
    right: 80%; }

.courier-columns-5 .courier-offset-2 {
  padding-left: 40%; }
  .courier-columns-5 .courier-offset-2.block-content:before {
    right: 60%; }

.courier-columns-5 .courier-offset-3 {
  padding-left: 60%; }
  .courier-columns-5 .courier-offset-3.block-content:before {
    right: 40%; }

.courier-columns-5 .courier-offset-4 {
  padding-left: 80%; }
  .courier-columns-5 .courier-offset-4.block-content:before {
    right: 20%; }

.courier-columns-5 .courier-offset-5 {
  padding-left: 100%; }
  .courier-columns-5 .courier-offset-5.block-content:before {
    right: 0%; }

.courier-columns-6 .courier-offset-1 {
  padding-left: 16.66667%; }
  .courier-columns-6 .courier-offset-1.block-content:before {
    right: 83.33333%; }

.courier-columns-6 .courier-offset-2 {
  padding-left: 33.33333%; }
  .courier-columns-6 .courier-offset-2.block-content:before {
    right: 66.66667%; }

.courier-columns-6 .courier-offset-3 {
  padding-left: 50%; }
  .courier-columns-6 .courier-offset-3.block-content:before {
    right: 50%; }

.courier-columns-6 .courier-offset-4 {
  padding-left: 66.66667%; }
  .courier-columns-6 .courier-offset-4.block-content:before {
    right: 33.33333%; }

.courier-columns-6 .courier-offset-5 {
  padding-left: 83.33333%; }
  .courier-columns-6 .courier-offset-5.block-content:before {
    right: 16.66667%; }

.courier-columns-6 .courier-offset-6 {
  padding-left: 100%; }
  .courier-columns-6 .courier-offset-6.block-content:before {
    right: 0%; }

.courier-columns-7 .courier-offset-1 {
  padding-left: 14.28571%; }
  .courier-columns-7 .courier-offset-1.block-content:before {
    right: 85.71429%; }

.courier-columns-7 .courier-offset-2 {
  padding-left: 28.57143%; }
  .courier-columns-7 .courier-offset-2.block-content:before {
    right: 71.42857%; }

.courier-columns-7 .courier-offset-3 {
  padding-left: 42.85714%; }
  .courier-columns-7 .courier-offset-3.block-content:before {
    right: 57.14286%; }

.courier-columns-7 .courier-offset-4 {
  padding-left: 57.14286%; }
  .courier-columns-7 .courier-offset-4.block-content:before {
    right: 42.85714%; }

.courier-columns-7 .courier-offset-5 {
  padding-left: 71.42857%; }
  .courier-columns-7 .courier-offset-5.block-content:before {
    right: 28.57143%; }

.courier-columns-7 .courier-offset-6 {
  padding-left: 85.71429%; }
  .courier-columns-7 .courier-offset-6.block-content:before {
    right: 14.28571%; }

.courier-columns-7 .courier-offset-7 {
  padding-left: 100%; }
  .courier-columns-7 .courier-offset-7.block-content:before {
    right: 0%; }

.courier-columns-8 .courier-offset-1 {
  padding-left: 12.5%; }
  .courier-columns-8 .courier-offset-1.block-content:before {
    right: 87.5%; }

.courier-columns-8 .courier-offset-2 {
  padding-left: 25%; }
  .courier-columns-8 .courier-offset-2.block-content:before {
    right: 75%; }

.courier-columns-8 .courier-offset-3 {
  padding-left: 37.5%; }
  .courier-columns-8 .courier-offset-3.block-content:before {
    right: 62.5%; }

.courier-columns-8 .courier-offset-4 {
  padding-left: 50%; }
  .courier-columns-8 .courier-offset-4.block-content:before {
    right: 50%; }

.courier-columns-8 .courier-offset-5 {
  padding-left: 62.5%; }
  .courier-columns-8 .courier-offset-5.block-content:before {
    right: 37.5%; }

.courier-columns-8 .courier-offset-6 {
  padding-left: 75%; }
  .courier-columns-8 .courier-offset-6.block-content:before {
    right: 25%; }

.courier-columns-8 .courier-offset-7 {
  padding-left: 87.5%; }
  .courier-columns-8 .courier-offset-7.block-content:before {
    right: 12.5%; }

.courier-columns-8 .courier-offset-8 {
  padding-left: 100%; }
  .courier-columns-8 .courier-offset-8.block-content:before {
    right: 0%; }

.courier-columns-9 .courier-offset-1 {
  padding-left: 11.11111%; }
  .courier-columns-9 .courier-offset-1.block-content:before {
    right: 88.88889%; }

.courier-columns-9 .courier-offset-2 {
  padding-left: 22.22222%; }
  .courier-columns-9 .courier-offset-2.block-content:before {
    right: 77.77778%; }

.courier-columns-9 .courier-offset-3 {
  padding-left: 33.33333%; }
  .courier-columns-9 .courier-offset-3.block-content:before {
    right: 66.66667%; }

.courier-columns-9 .courier-offset-4 {
  padding-left: 44.44444%; }
  .courier-columns-9 .courier-offset-4.block-content:before {
    right: 55.55556%; }

.courier-columns-9 .courier-offset-5 {
  padding-left: 55.55556%; }
  .courier-columns-9 .courier-offset-5.block-content:before {
    right: 44.44444%; }

.courier-columns-9 .courier-offset-6 {
  padding-left: 66.66667%; }
  .courier-columns-9 .courier-offset-6.block-content:before {
    right: 33.33333%; }

.courier-columns-9 .courier-offset-7 {
  padding-left: 77.77778%; }
  .courier-columns-9 .courier-offset-7.block-content:before {
    right: 22.22222%; }

.courier-columns-9 .courier-offset-8 {
  padding-left: 88.88889%; }
  .courier-columns-9 .courier-offset-8.block-content:before {
    right: 11.11111%; }

.courier-columns-9 .courier-offset-9 {
  padding-left: 100%; }
  .courier-columns-9 .courier-offset-9.block-content:before {
    right: 0%; }

.courier-columns-10 .courier-offset-1 {
  padding-left: 10%; }
  .courier-columns-10 .courier-offset-1.block-content:before {
    right: 90%; }

.courier-columns-10 .courier-offset-2 {
  padding-left: 20%; }
  .courier-columns-10 .courier-offset-2.block-content:before {
    right: 80%; }

.courier-columns-10 .courier-offset-3 {
  padding-left: 30%; }
  .courier-columns-10 .courier-offset-3.block-content:before {
    right: 70%; }

.courier-columns-10 .courier-offset-4 {
  padding-left: 40%; }
  .courier-columns-10 .courier-offset-4.block-content:before {
    right: 60%; }

.courier-columns-10 .courier-offset-5 {
  padding-left: 50%; }
  .courier-columns-10 .courier-offset-5.block-content:before {
    right: 50%; }

.courier-columns-10 .courier-offset-6 {
  padding-left: 60%; }
  .courier-columns-10 .courier-offset-6.block-content:before {
    right: 40%; }

.courier-columns-10 .courier-offset-7 {
  padding-left: 70%; }
  .courier-columns-10 .courier-offset-7.block-content:before {
    right: 30%; }

.courier-columns-10 .courier-offset-8 {
  padding-left: 80%; }
  .courier-columns-10 .courier-offset-8.block-content:before {
    right: 20%; }

.courier-columns-10 .courier-offset-9 {
  padding-left: 90%; }
  .courier-columns-10 .courier-offset-9.block-content:before {
    right: 10%; }

.courier-columns-10 .courier-offset-10 {
  padding-left: 100%; }
  .courier-columns-10 .courier-offset-10.block-content:before {
    right: 0%; }

.courier-columns-11 .courier-offset-1 {
  padding-left: 9.09091%; }
  .courier-columns-11 .courier-offset-1.block-content:before {
    right: 90.90909%; }

.courier-columns-11 .courier-offset-2 {
  padding-left: 18.18182%; }
  .courier-columns-11 .courier-offset-2.block-content:before {
    right: 81.81818%; }

.courier-columns-11 .courier-offset-3 {
  padding-left: 27.27273%; }
  .courier-columns-11 .courier-offset-3.block-content:before {
    right: 72.72727%; }

.courier-columns-11 .courier-offset-4 {
  padding-left: 36.36364%; }
  .courier-columns-11 .courier-offset-4.block-content:before {
    right: 63.63636%; }

.courier-columns-11 .courier-offset-5 {
  padding-left: 45.45455%; }
  .courier-columns-11 .courier-offset-5.block-content:before {
    right: 54.54545%; }

.courier-columns-11 .courier-offset-6 {
  padding-left: 54.54545%; }
  .courier-columns-11 .courier-offset-6.block-content:before {
    right: 45.45455%; }

.courier-columns-11 .courier-offset-7 {
  padding-left: 63.63636%; }
  .courier-columns-11 .courier-offset-7.block-content:before {
    right: 36.36364%; }

.courier-columns-11 .courier-offset-8 {
  padding-left: 72.72727%; }
  .courier-columns-11 .courier-offset-8.block-content:before {
    right: 27.27273%; }

.courier-columns-11 .courier-offset-9 {
  padding-left: 81.81818%; }
  .courier-columns-11 .courier-offset-9.block-content:before {
    right: 18.18182%; }

.courier-columns-11 .courier-offset-10 {
  padding-left: 90.90909%; }
  .courier-columns-11 .courier-offset-10.block-content:before {
    right: 9.09091%; }

.courier-columns-11 .courier-offset-11 {
  padding-left: 100%; }
  .courier-columns-11 .courier-offset-11.block-content:before {
    right: 0%; }

.courier-columns-12 .courier-offset-1 {
  padding-left: 8.33333%; }
  .courier-columns-12 .courier-offset-1.block-content:before {
    right: 91.66667%; }

.courier-columns-12 .courier-offset-2 {
  padding-left: 16.66667%; }
  .courier-columns-12 .courier-offset-2.block-content:before {
    right: 83.33333%; }

.courier-columns-12 .courier-offset-3 {
  padding-left: 25%; }
  .courier-columns-12 .courier-offset-3.block-content:before {
    right: 75%; }

.courier-columns-12 .courier-offset-4 {
  padding-left: 33.33333%; }
  .courier-columns-12 .courier-offset-4.block-content:before {
    right: 66.66667%; }

.courier-columns-12 .courier-offset-5 {
  padding-left: 41.66667%; }
  .courier-columns-12 .courier-offset-5.block-content:before {
    right: 58.33333%; }

.courier-columns-12 .courier-offset-6 {
  padding-left: 50%; }
  .courier-columns-12 .courier-offset-6.block-content:before {
    right: 50%; }

.courier-columns-12 .courier-offset-7 {
  padding-left: 58.33333%; }
  .courier-columns-12 .courier-offset-7.block-content:before {
    right: 41.66667%; }

.courier-columns-12 .courier-offset-8 {
  padding-left: 66.66667%; }
  .courier-columns-12 .courier-offset-8.block-content:before {
    right: 33.33333%; }

.courier-columns-12 .courier-offset-9 {
  padding-left: 75%; }
  .courier-columns-12 .courier-offset-9.block-content:before {
    right: 25%; }

.courier-columns-12 .courier-offset-10 {
  padding-left: 83.33333%; }
  .courier-columns-12 .courier-offset-10.block-content:before {
    right: 16.66667%; }

.courier-columns-12 .courier-offset-11 {
  padding-left: 91.66667%; }
  .courier-columns-12 .courier-offset-11.block-content:before {
    right: 8.33333%; }

.courier-columns-12 .courier-offset-12 {
  padding-left: 100%; }
  .courier-columns-12 .courier-offset-12.block-content:before {
    right: 0%; }

.courier-row {
  position: relative;
  *zoom: 1; }
  .courier-row:before, .courier-row:after {
    content: " ";
    display: table; }
  .courier-row:after {
    clear: both; }

[class*="courier-columns"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left; }
  @media screen and (max-width: 1023px) {
    [class*="courier-columns"] {
      clear: both;
      width: 100% !important; } }

@media screen and (max-width: 1023px) {
  .courier-hide-for-small {
    display: none !important; } }

@media screen and (min-width: 1024px) {
  .courier-show-for-small {
    display: none !important; } }

.grid-x {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap; }
  .grid-x.grid-padding .cell {
    padding: 0 1rem; }
  .grid-x.align-middle {
    align-items: center; }
  .grid-x .cell {
    box-sizing: inherit;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    min-height: 0px;
    min-width: 0px;
    width: 100%; }
    .grid-x .cell.auto {
      -webkit-box-flex: 1;
      flex: 1 1 0px;
      width: auto; }
    .grid-x .cell.shrink {
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto; }
    .grid-x .cell.align-middle {
      align-self: center; }
    .grid-x .cell.align-bottom {
      align-self: flex-end; }
    @media screen and (max-width: 767px) {
      .grid-x .cell.small-full {
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        min-height: 0;
        min-width: 0;
        padding: 0;
        width: 100%; } }

/**
 *
 * 01. Global Helpers
 * 02. Admin Pointers
 * 03. Spacing
 **/
.hide {
  display: none; }

.wp-pointer.courier-pointer-top-left .wp-pointer-arrow, .wp-pointer.courier-pointer-top-right .wp-pointer-arrow {
  top: 30px; }

.wp-pointer.courier-pointer-top-left .wp-pointer-arrow,
.wp-pointer.courier-pointer-top-left .wp-pointer-arrow-inner {
  border-right-color: #00a0d2; }

.wp-pointer.courier-pointer-top-right .wp-pointer-arrow,
.wp-pointer.courier-pointer-top-right .wp-pointer-arrow-inner {
  border-left-color: #00a0d2; }

body.wp-admin .padding-horizontal {
  padding-left: 1rem;
  padding-right: 1rem; }
