# Ignore directories and files from the release zips

# Directories
/.wordpress-org/ export-ignore
/.git/ export-ignore
/.github/ export-ignore
/assets/ export-ignore
/node_modules/ export-ignore
/.deployment/ export-ignore

# Files
/.gitignore export-ignore
/.gitattributes export-ignore
/.codeclimate.yml export-ignore
/.editorconfig export-ignore
/.distignore export-ignore
/gulpfile.babel.js export-ignore
/yarn.lock export-ignore
/config.yml export-ignore
/renovate.json export-ignore
/.vipgoci_lint_skip_folders export-ignore
/.vipgoci_phpcs_skip_folders export-ignore
/courier-notices.zip export-ignore
/DOCKER_ENV export-ignore
/.eslintignore export-ignore
/.eslintrc.js export-ignore
/.php-cs-fixer.cache export-ignore
/.php-cs-fixer.dist.php export-ignore
/.phplint.yml export-ignore
/.prettierrc.js export-ignore
/.release-please-manifest.json export-ignore
/commitlint.config.js export-ignore
/courier-notices.code-workspace export-ignore
/lint-staged.config.js export-ignore
/phpcs.xml.dist export-ignore
/phpdoc.dist.xml export-ignore
/phpstan-baseline.neon export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml export-ignore
/release-please-config.json export-ignore
/renovate.json export-ignore
/webpack.config.js export-ignore