/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-adspiration-sidebar  {
  background: #f60;
  border: 0.2rem solid #f30;
  color: #000;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
