@use '../shared/notices';
@use './admin/datepicker';
@use './admin/color-schemes';
@use './admin/tables';
@use './admin/tooltips';
@use './admin/layout';
@use './admin/components';

// Admin-specific notice overrides
@each $courier in ('primary', 'success', 'alert', 'warning', 'feedback', 'info') {
	.courier_type-#{$courier} {
		+ .courier_type-#{$courier} {
			border-top: 2px solid rgba(0,0,0,.05);
			margin-top: -2px;
		}
	}
}

.courier-user-search {
	width:100%;
}
