/**
 * 01. Courier Columns
 * 02. XY Grid
 */


// 01. Courier Columns

@for $i from 1 through 12  {
	.courier-columns-#{$i} {
		width: ($i/12) * 100%;
	}
}

@for $i from 1 through 12 {
	.courier-columns-#{$i} {
		@for $j from 1 through $i {
			.courier-offset-#{$j} {
				padding-left: 100% * $j/$i;

				&.block-content:before {
					right: 100% - (($j/$i) * 100%);
				}
			}
		}
	}
}

.courier-row {
	position: relative;

	@include clearfix;
}

[class*="courier-columns"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;

	@media #{$courier-small} {
		clear: both;
		width: 100% !important;
	}
}

.courier-hide-for-small {
	@media #{$courier-small} {
		display: none !important;
	}
}

.courier-show-for-small {
	@media #{$courier-medium-up} {
		display: none !important;
	}
}


// 02. XY Grid

.grid-x {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;

	&.grid-padding {
		.cell {
			padding: 0 1rem;
		}
	}

	&.align-middle {
		align-items: center;
	}

	.cell {
		box-sizing: inherit;
		-webkit-box-flex: 0;
		flex: 0 0 auto;
		min-height: 0px;
		min-width: 0px;
		width: 100%;

		&.auto {
			-webkit-box-flex: 1;
			flex: 1 1 0px;
			width: auto;
		}

		&.shrink {
			-webkit-box-flex: 0;
			flex: 0 0 auto;
			width: auto;
		}

		&.align-middle {
			align-self: center;
		}

		&.align-bottom {
			align-self: flex-end;
		}

		&.small-full {
			@media screen and ( max-width: 767px ) {
				-webkit-box-flex: 0;
				flex: 0 0 auto;
				min-height: 0;
				min-width: 0;
				padding: 0;
				width: 100%;
			}
		}
	}
}

