/**
 *
 * 01. Global Helpers
 * 02. Admin Pointers
 * 03. Spacing
 **/

@use '../config/variables';

// 01. Global Helpers
.hide {
	display: none;
}

// 02. Admin Pointers
.wp-pointer {
	&.courier-pointer-top-left,
	&.courier-pointer-top-right {
		.wp-pointer-arrow {
			top: 30px;
		}
	}
	
	&.courier-pointer-top-left {
		.wp-pointer-arrow,
		.wp-pointer-arrow-inner {
			border-right-color: variables.$pointer-title-bg;
		}
	}

	&.courier-pointer-top-right {
		.wp-pointer-arrow,
		.wp-pointer-arrow-inner {
			border-left-color: variables.$pointer-title-bg;
		}
	}
}


// 03. Spacing

body.wp-admin {
	.padding-horizontal {
		padding: {
			left: 1rem;
			right: 1rem;
		};
	}
}