/**
 *
 * 01. Font icons
 * 02. Alignment
 * 03. Buttons
 * 04. Helper Classes
 *
 **/

// 01. Font icons

// Courier logo font icon. Can be used anywhere in the WordPress admin
@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f4juv');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f4juv#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?f4juv') format('woff2'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?f4juv') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?f4juv') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?f4juv##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.courier-icon {
  &:before {
	color: #82878c;
	speak: none;
	display: inline-block;
	padding: 0 10px 0 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	vertical-align: top;
  }
}

body.courier_notice_page_courier {
	.form-table tbody tr th[scope="row"] {
		width:200px;
	}

	tr:hover .row-actions {
		position: relative;
	}

	.wp-list-table.courier_notice_page_courier {
		tr:hover .row-actions {
			position: static;
		}
	}
}

.icon-success {
  &:before {
	content: $icon-success;
  }
}
.icon-warning {
  &:before {
	content: $icon-warning;
  }
}
.icon-info {
  &:before {
	content: $icon-info;
  }
}
.icon-error {
  &:before {
	content: $icon-error;
  }
}
.icon-alert {
  &:before {
	content: $icon-alert;
  }
}
.icon-feedback {
  &:before {
	content: $icon-feedback;
  }
}
.icon-welcome {
  &:before {
	content: $icon-welcome;
  }
}
.icon-courier-logo {
  &:before {
	content: $icon-courier-logo;
  }
}
.icon-linchpin-logo-fill {
  &:before {
	content: $icon-linchpin-logo-fill;
  }
}
.icon-github-logo {
  &:before {
	content: $icon-github-logo;
  }
}
.icon-twitter {
  &:before {
	content: $icon-twitter;
  }
}
.icon-fb {
  &:before {
	content: $icon-fb;
  }
}
.icon-instagram {
  &:before {
	content: $icon-instagram;
  }
}

// We want all styles in the context of the MCS container, as to not overwrite any
// WordPress Core styles or custom editor styles inserted by theme devs.
#courier-container {
	// 02. Alignment
	.text-left {
		text-align: left;
	}

	.text-center {
		text-align: center;
	}

	.text-right {
		text-align: right;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	// 03. Buttons/Links
	a {
		cursor: pointer;
	}

	.button {
		&.primary {
			background-color: $primary;
			border-color: $primary-dark;
			color: $light-grey;

			&:hover {
				background-color: $primary-light;
			}

		  .spinner {
			display: none;
		  }
		}

	    &.disabled {
		  &.active {
			.spinner {
			  visibility: visible;
			  display: inline-block;
			  float: left;
			  margin: 4px 0;
			}

			&.dashicons-before:before {
			  display: none;
			}
		  }
		}

		&.dashicons-before:before {
			vertical-align: middle;
		}
	}

	// 04. Helper Classes
	p.lead,
	.lead > p {
		font-size: 18px;
	}

	.clearfix {
		@include clearfix;
	}

	.inline-block-list {
		list-style: none;
		margin: 0;

		&.space-left {
			> li + li {
				margin-left: $base * .5;
			}
		}

		&.space-right {
			> li + li {
				margin-left: $base * .5;
			}
		}

		> li {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
		}
	}

	.plain-link {
		text-decoration: none;
	    &.disabled {
		    color:$darkest-grey;
		}
	}

	.grey-link {
		color: $darkest-grey;
	}

	.nowrap {
		white-space: nowrap;
	}
}
