/**
 *
 * 01. Dimensions
 * 02. Colors
 * 03. Animations
 * 04. Breakpoints
 *
 **/

// 01. Dimensions
$base:            16px;
$input_height:    28px;
$input_padding_x: 5px;
$input_padding_y: 3px;
$inside_padding:  12px;
$block_padding:   10px;

// 02. Colors
$blue:         #009fd4;
$green:        #94C169;
$darker-green: #4F8C7E;

$black: #222;
$darkest-gray: #666;
$dark-gray:    #ccc;
$medium-gray: #ADA79D;
$gray:         #dedede;
$light-gray:   #f5f5f5;
$super-light-gray: #fafafa;
$white: #FFFFFF;

$primary:       $green;
$primary-light: scale-color( $primary, $lightness: 8% );
$primary-dark:  scale-color( $primary, $lightness: -8% );

$pointer-title-bg: #00a0d2;
$pointer-border:   #3592b6;

//Colors
$cerise: #d43c9e;
$dark-purple: #812d8f;
$blue-gem: #2c0c82;
$darker-blue: #1B0253;
$caribbean-green: $primary;
$lochinvar: $darker-green;
$white-smoke: #f5f5f5;
$gray: #e8e8e8;

$notice-default-primary: #039AD6;
$notice-default-success: #04A84E;
$notice-default-alert: #F97600;
$notice-default-warning: #EA3118;
$notice-default-feedback: #8839D3;
$notice-default-info: #878787;
$notice-default-secondary: #cecece;

//Other Global items
$global-radius: .25rem;
$courier-max-content-width: 100%;
$courier-padding: .75rem 1rem;

// 03. Animations
$global_timing: 300ms;
$global_easing: ease-out;

// 04. Breakpoints
$courier-small: 'screen and (max-width: 1023px)';
$courier-medium-up: 'screen and (min-width: 1024px)';
$courier-medium-only: 'screen and (min-width: 1024px) and (max-width: 1279px)';


